<!DOCTYPE html>
<html class="no-js" lang="ch_CN">

<head>
    <title>Admin Home Page</title>
    <!-- Bootstrap -->
    <meta charset="utf-8" />
    <link href="/stylesheets/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/stylesheets/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
    <link href="/stylesheets/styles.css" rel="stylesheet" media="screen">
    <link href="/stylesheets/photo.css" rel="stylesheet" media="screen">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="javascripts/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    <script src="javascripts/jquery-1.9.1.min.js"></script>
    <script src="javascripts/scripts.js"></script>
    <script src="stylesheets/js/bootstrap.min.js"></script>
</head>

<body>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">Scau news</a>
            <div class="nav-collapse collapse">
                <ul class="nav pull-right">
                    <li class="dropdown">
                        <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-user"></i>管理员<i class="caret"></i>

                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a tabindex="-1" href="/logout">登出</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav">
                    <li class="<%if(typeof photo !== 'undefined' ){%>active<%}%>">
                        <a href="/photoSetting?page=0">大图管理</a>
                    </li>
                    <li class="<%if(typeof article !== 'undefined' ){%>active<%}%>" >
                        <a href="/diary?type=1&page=0">文章管理</a>
                    </li>



                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>