<%- include header %>
<style type="text/css">

</style>
<div class="container-fluid">
    <div class="row-fluid">

        <div class="span12" id="content">
            <div class="row-fluid">
                <!-- block -->

                <div class="block">
                    <div class="navbar navbar-inner block-header">
                        <div class="muted pull-left">Article</div>
                    </div>
                    <div class="block-content collapse in">
                        <div class="span12">
                            <form class="form-horizontal" method="post" action="postDiary">
                                <fieldset>
                                    <legend>发表文章</legend>
                                    <div class="control-group">
                                        <label class="control-label" for="focusedInput">标题</label>
                                        <div class="controls">
                                            <input class="input-xlarge focused" id="focusedInput" type="text" name = "title" >
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="author">作者</label>
                                        <div class="controls">
                                            <input class="input-xlarge focused" id="author" type="text" name = "author">
                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <label class="control-label" for="selectError">所属类别</label>
                                        <div class="controls">
                                            <select name = "type">
                                                <option value="0">校内新闻</option>
                                                <option value="1">学生生活</option>
                                                <option value="2">学校通告</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <div class="block">
                                            <script id="container" name="content" type="text/plain">这里写你的初始化内容</script>
                                        </div>
                                    </div>
                                    <div class="form-actions">
                                        <button type="submit" class="btn btn-primary ">发表</button>
                                        <button type="reset" class="btn">重置</button>
                                    </div>
                                </fieldset>
                            </form>

                        </div>
                    </div>
                </div>
                <!-- /block -->
            </div>
        </div>
</div>

    <script type="text/javascript" src="/ueditor/ueditor.config.js"></script>
    <!-- 编辑器源码文件 -->
    <script type="text/javascript" src="/ueditor/ueditor.all.js"></script>
    <!-- 实例化编辑器 -->
    <script type="text/javascript">
        var editor = new UE.ui.Editor({initialFrameHeight:400
        });
        editor.render("container");
    </script>
<%- include footer %>
